@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.eot');
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('Roboto-Regular.ttf') format('truetype'),
       url('Roboto-Regular.woff') format('woff'),
       url('Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto-Bold.eot');
  src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('Roboto-Bold.ttf') format('truetype'),
       url('Roboto-Bold.woff') format('woff'),
       url('Roboto-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('Roboto-Light.eot');
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
       url('Roboto-Light.ttf') format('truetype'),
       url('Roboto-Light.woff') format('woff'),
       url('Roboto-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roadkill-Alternates';
  src: url('Roadkill-Alternates.eot');
  src: url('Roadkill-Alternates.eot?#iefix') format('embedded-opentype'),
       url('Roadkill-Alternates.ttf') format('truetype'),
       url('Roadkill-Alternates.woff') format('woff'),
       url('Roadkill-Alternates.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HandelsonSix_CYR-Six';
  src: url('HandelsonSix_CYR-Six.eot');
  src: url('HandelsonSix_CYR-Six.eot?#iefix') format('embedded-opentype'),
       url('HandelsonSix_CYR-Six.ttf') format('truetype'),
       url('HandelsonSix_CYR-Six.woff') format('woff'),
       url('HandelsonSix_CYR-Six.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WCManoNegraBta';
  src: url('WCManoNegraBta.eot');
  src: url('WCManoNegraBta.eot?#iefix') format('embedded-opentype'),
       url('WCManoNegraBta.ttf') format('truetype'),
       url('WCManoNegraBta.woff') format('woff'),
       url('WCManoNegraBta.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrinchaRegular';
  src: url('TrinchaRegular.eot');
  src: url('TrinchaRegular.eot?#iefix') format('embedded-opentype'),
       url('TrinchaRegular.ttf') format('truetype'),
       url('TrinchaRegular.woff') format('woff'),
       url('TrinchaRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MASTERPLAN-TRIAL';
  src: url('MASTERPLAN-TRIAL.eot');
  src: url('MASTERPLAN-TRIAL.eot?#iefix') format('embedded-opentype'),
       url('MASTERPLAN-TRIAL.ttf') format('truetype'),
       url('MASTERPLAN-TRIAL.woff') format('woff'),
       url('MASTERPLAN-TRIAL.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ASPHALTICSCRATCHRUSBYLYAJKA';
  src: url('ASPHALTICSCRATCHRUSBYLYAJKA.eot');
  src: url('ASPHALTICSCRATCHRUSBYLYAJKA.eot?#iefix') format('embedded-opentype'),
       url('ASPHALTICSCRATCHRUSBYLYAJKA.ttf') format('truetype'),
       url('ASPHALTICSCRATCHRUSBYLYAJKA.woff') format('woff'),
       url('ASPHALTICSCRATCHRUSBYLYAJKA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ResidentEvil7RUSBYLYAJKA';
  src: url('ResidentEvil7RUSBYLYAJKA.eot');
  src: url('ResidentEvil7RUSBYLYAJKA.eot?#iefix') format('embedded-opentype'),
       url('ResidentEvil7RUSBYLYAJKA.ttf') format('truetype'),
       url('ResidentEvil7RUSBYLYAJKA.woff') format('woff'),
       url('ResidentEvil7RUSBYLYAJKA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

